    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        overflow: hidden;
    }
    
    .bg {
        position: absolute;
        top: -30;
        left: -30;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        background-image: url('https://images.unsplash.com/photo-1666340826979-03f7b9c4e3e7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        background-repeat: no-repeat;
        background-size: cover;
        background-origin: center;
    }
    
    .loading-text {
        font-size: 50px;
        color: white;
    }